# =========================
# ENVIRONMENT / SECRETS
# =========================

.env
.env.*
!.env.example


# =========================
# PYTHON
# =========================

__pycache__/
*.py[cod]
*$py.class


# =========================
# VIRTUAL ENVIRONMENTS
# =========================

venv/
.venv/
env/


# =========================
# JUPYTER
# =========================

.ipynb_checkpoints/


# =========================
# IDE
# =========================

.vscode/
.idea/


# =========================
# OS
# =========================

.DS_Store
Thumbs.db


# =========================
# LOGS
# =========================

*.log